/* h1{ color:#F97903 ;       
    
font-family: 'Lucida Sans', 'Lucida Sans Regular', 
'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
    margin-right: 350px;
}

.reg{width: 500px;
height: 800px;
float: right;
margin-right: 350px;
border-radius:10px; 
padding: 40px;}
hr{width: 550px;
margin-right: 350px;
}
label{font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 25px;
text-transform: capitalize;
}
.input{width: 500px;
height:15px;
border-radius: 10px;
font-size: 20px;
padding: 15px;
text-transform: capitalize;
}
.check{width: 15px;
height: 15px;
}

.btn1{width: 350px;
height: 50px;
font-size: 20px;
background-color: rgb(104, 104, 199);
color: white;
border-radius: 5px;
margin-left: 60px;}
.sub{width: 175px;
height: 35px;
font-size: 20px;
background-color: white;
color: black;
border-radius: 5px;}
option{
    width: 500px;
    height:15px;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px;
}

select{
    width: 530px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    
}
p{ 
    font-size: 20px;
    margin-left: 80px;
    
} */
